<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="stylesheets/signin.css" />
  <link rel="stylesheet" href="stylesheets/bootstrap-4.5.2-dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="stylesheets/fontawesome-free-5.15.0-web/css/all.css" />
  <title>User manual</title>
</head>

<body class="text-center">
    <div class="d-inline">
        <h2>User manual not updated</h2>
        <input type="button" onclick="location.href='/'" style="font-size: 20px;" value="Click to continue " />
    </div>
    
  <!-- Javascript/jquery files -->
  <!-- Main javascript -->
  <script src="javascripts/main.js"></script>
  <!-- Jquery -->
  <script src="javascripts/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap -->
  <script src="stylesheets/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
  <!-- Font awesome -->
  <script src="javascripts/fontawesome.min.js"></script>
</body>
</html>