<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="stylesheets/style.css" />
  <link rel="stylesheet" href="stylesheets/bootstrap-4.5.2-dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="stylesheets/fontawesome-free-5.15.0-web/css/all.css" />
  <title><%= title %></title>
</head>

<body class="bg-primary">
  <div class="login-form-area mt-5 mb-5">
    <div class="container">
      <div class="row">
        <div class="login-form-container mx-auto bg-light">
          <h2 class="justify-content-center d-flex mb-3">Đăng nhập</h2>
          <div class="login-form bg-light">
              <form method="post">
                  <input type="text" class="form-control mb-1" name="input_email" placeholder="Username">
                  <input type="password" class="form-control" name="password" placeholder="Password">
                  <div class="button-box mt-1"></div>
                      <div class="login-toggle-btn">
                          <a href="/signup">Bạn chưa có tài khoản?</a>
                      </div>
                      <% if (hasError) { errors.map(function(error) { %>
                        <label style="color:red !important; display: inherit !important; max-width:400px"><%= error %> </label> <% }) } %>
                      <button type="submit" class="btn btn-primary float-right mt-2">Submit</button>
                  </div>
              </form>
          </div>
      </div>
      </div>
    </div>
  </div>
  <!-- Javascript/jquery files -->
  <!-- Main javascript -->
  <script src="javascripts/main.js"></script>
  <!-- Jquery -->
  <script src="javascripts/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap -->
  <script src="stylesheets/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
  <!-- Font awesome -->
  <script src="javascripts/fontawesome.min.js"></script>
</body>
</html>