.login-form-container {
  padding: 30px 50px 60px 50px;
  min-width: 300px;
  box-shadow: 0 0 6px rgba(92, 3, 3, 0.97);
  border-radius: 10px;

}

.table-responsive {height:180px;}

@media only screen and (min-width: 800px)  {
  .login-form-area {
    padding-top: 100px;
  }
}

/* .login-form-container {
  padding: 20px 40px 0px 40px;
  margin: 10px;
  min-width: 300px;
  /* box-shadow: 0 0 6px rgba(92, 3, 3, 0.97); */
  /* border-radius: 10px; */
/* }
.transfer-history{
  max-width:400px !important;
  margin: 10px 10px 30px 10px;
}

.login-form-area > .container {
  box-shadow: 0 0 6px rgba(92, 3, 3, 0.97);
  border-radius: 10px;
}
body > div > div
@media only screen and (min-width: 800px)  {
  .login-form-area {
    padding-top: 100px;
  }
} */